a{
    text-align: center;
    align-items: center;
}

.sidebar {
    width: 60px;
    height: 100vh;
    background: #333;
    overflow: hidden;
    transition: width 0.3s ease-in-out;
    position: fixed;
    top: 0;
    left: 0;
}

.sidebar:hover {
    width: 200px;
}

.sidebar ul {
    list-style: none;
    padding: 10px;
}

.menu-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    color: white;
    cursor: pointer;
    transition: background 0.3s;
}

.menu-item a {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    text-decoration: none;
    width: 100%;
    padding: 0;

}

.menu-item:hover {
    background: #555;
}

.menu-item img {
    width: 30px;
    height: 30px;
}

.menu-item span {
    opacity: 0;
    transition: opacity 0.3s;
    white-space: nowrap;
}

.sidebar:hover .menu-item span {
    opacity: 1;
}

.content {
    margin-top: 80px; /* Добавляем отступ сверху */
}



.page-title {
    display: flex;
    align-items: center;
    gap: 10px;
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    font-weight: bold;
    opacity: 1;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}
.page-title img {
    width: 40px;
    height: 40px;
}
.page-title.show {
    opacity: 1;
    margin: auto;
}

.page-title.hidden {
    opacity: 0;
    transform: translate(-50%, -100%); /* Сдвигаем вверх */
}